@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    display: flex;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    border: white solid 3px;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.menu{
    background-color: #123;
    width:45px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    /* border-radius: 18px; */
    transition: 0.5s
}
.menu:hover{
    width: 300px;
}
ul{
    list-style: none;
    position: relative;
    height: 90%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    color: white;
    transition: 0.3s;
}
ul li a:hover, .active, .data-info .box:hover{
    background-color: rgba(255, 255, 255, 0.391);
    width: 90%;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a:hover{
background-color: red;
}
ul li a i{
    font-size: 20px;
}
.porf{
    display: flex;
    align-items: center;
    gap: 10px;
}
.porf h2{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.content{
    width: 100%;
    margin: 10px;
}
.text-info{
    background-color: rgb(86, 168, 255);
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 10px 0;
}
.data-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
